body {
    background-color:blanchedalmond;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display:grid;
    grid-template-columns: [start] auto [left] 80% [right] auto [end];
    grid-template-rows: [top] auto [header] auto  auto auto [footer] auto [bottom];
    
}


@media screen and (max-width:320px) {
  body {
  grid-template-areas: 
    "header header header"
    "main main main"
    "sidebar sidebar sidebar"
    "ads ads ads"
    "footer footer footer";
  }

  .login-form{
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 20%);
    grid-template-areas: 
    "form__name"
    "form__family"
    "form__email"
    "form__tel"
    "form__textarea";
    }


    .comet__grid{
    grid-template-columns: 100%;
    grid-template-rows: repeat(7, calc(100%/7));
    grid-template-areas: 
      "grid1"
      "grid2"
      "grid3"
      "grid4"
      "grid5"
      "grid6"
      "grid7";
    }


    .footer-grid {
      grid-template-columns:100%;
      grid-template-rows: repeat(4, 25%);
      grid-template-areas: 
      "footer_1" 
      "footer_2" 
      "footer_3"
      "footer_4";
  }
}


@media screen and (min-width:712px) {
  body {
  grid-template-areas: 
    "header header header"
    "ads main sidebar"
    "ads main sidebar"
    "ads main sidebar"
    "footer footer footer";
  }


  .login-form{
    grid-template-columns: 50% 50%;
    grid-template-rows: calc(100%/3) calc(100%/3) calc(100%/3);
    grid-template-areas: 
  "form__name form__family"
  "form__email form__tel"
  "form__textarea form__textarea";
  }


  .comet__grid{
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: calc(100%/3) calc(100%/3) calc(100%/3);
  grid-template-areas: 
    "grid1 grid1 grid2 grid3"
    "grid4 grid5 grid2 grid6"
    "grid4 grid7 grid7 grid7";
  }


  
  .footer-grid {
    grid-template-columns: repeat(4, 25%);
    grid-auto-rows: auto;
    grid-template-areas: 
    "footer_1 footer_2 footer_3 footer_4";
  }
}


@media screen and (min-width:320px) and (max-width:712px) {
  body {
  grid-template-areas: 
    "header header header"
    "sidebar main main"
    "sidebar main main"
    "sidebar main main"
    "ads footer footer";
  }

  .login-form{
    grid-template-columns: 50% 50%;
    grid-template-rows: calc(100%/3) calc(100%/3) calc(100%/3);
    grid-template-areas: 
    "form__name form__family"
    "form__email form__tel"
    "form__textarea form__textarea";
    }


    .comet__grid{
    grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
    grid-template-rows: calc(100%/3) calc(100%/3) calc(100%/3);
    grid-template-areas: 
      "grid1 grid2 grid3"
      "grid4 grid5 grid6"
      "grid4 grid7 grid7";
    }


.footer-grid {
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  grid-template-areas: 
  "footer_1 footer_2"
  "footer_3 footer_4";
  }
}


.header {
    grid-area: header;
    width: 100%;
    height: 256;
    background: linear-gradient(90deg, rgb(208 15 246) 25%, rgb(251 104 104) 75%);
}


.header__inner {
    display:flex;
    justify-content: space-between;
    align-items:center;
}


.title  {
    font-size: 20px;
    font-weight: 700;
}

.nav__link {
    display:inline-block;
    vertical-align: top;

    color:blue;
    font-weight: 400;

}


.nav__link:visited {
    color:rgb(155, 119, 167);
}


.nav__link:hover {
    color:palevioletred;
}


.nav__link:active {
    color:goldenrod;
}
  
.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms;
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(45deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-45deg);
  }
  
  @media (max-width: 640px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 128px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms;
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms;
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
  }


main {
  grid-area: main;
    display:grid;
    background-color:rgb(70, 59, 61);
}


.comet__grid{
  display:grid;
    gap: 10px;
}


.comet__grid > div {
  text-align:center;
  background:#222;
  color:#fff;
  transition: 1s;
}


.comet__grid > div:hover {
  color:#222;
  background:rgb(251 104 104);
  transform:skewX(5deg);
}


#grid1{
  grid-area: grid1;
}
#grid2{
  grid-area: grid2;
}
#grid3{
  grid-area: grid3;
}
#grid4{
  grid-area: grid4;
}
#grid5{
  grid-area: grid5;
}
#grid6{
  grid-area: grid6;
}
#grid7{
  grid-area: grid7;
}


.login-page {
  position:relative;
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-topic::after{
    content:"";
    display: block;
    background-color: rgb(245, 135, 135);
    position: absolute;
    height: 4px;
    width: 60px;
    border-radius: 2px;
}
.form {
  position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    color: #eb8585;
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
    opacity:0.7;
    background: rgb(82 73 73 / 70%);
    backdrop-filter: blur(5px);
}
.form input {
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  border: 0;
  padding: 15px;
  color: #ff8b8b;
  cursor: pointer;
  border-radius: 2rem;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #f339da;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.form ~ div {
  content: "";
    position: absolute;
    border-radius: 0.5rem;
    background: rgba(85, 76, 76, 0.605);
    backdrop-filter: blur(5px);
  }


.box1 {
  width:6rem;
  height:6rem;
  top:50%;
  left:-25%;
  z-index:2;
  animation: box1 6s infinite;
}

@keyframes box1 {
  0% {transform:translateY(0);}
  25% {transform:translateY(-100%);}
  50% {transform:translateY(-100%);}
  75% {transform:translateY(0);}
}


.box2 {
  width:4rem;
  height:4rem;
  top: 70%;
  left: 95%;
  z-index:0;
  animation: box2 3s infinite;
}

@keyframes box2 {
  0% {transform:translateY(0);}
  13% {transform:translateY(-100%);}
  33% {transform:translateY(-100%);}
  40% {transform:translateY(100%);}
  65% {transform:translateY(100%);}
  80% {transform:translateY(0);}
}


.box3 {
  width:3rem;
  height:3rem;
  top:15%;
  left:25%;
  z-index:0;
  --test:100%;
  animation: box3 20s infinite;
}

@keyframes box3 {
  0% {transform: translate(calc(var(--test) * 0), calc(var(--test) * 0));}
  10% {transform: translate(calc(var(--test) * -1), calc(var(--test) * 0));}
  20% {transform: translate(calc(var(--test) * -1), calc(var(--test) * -1));}
  30% {transform: translate(calc(var(--test) * 1), calc(var(--test) * 0));}
  40% {transform: translate(calc(var(--test) * 2), calc(var(--test) * 0));}
  50% {transform: translate(calc(var(--test) * -2), calc(var(--test) * 1));}
  60% {transform: translate(calc(var(--test) * 1), calc(var(--test) * 1));}
  70% {transform: translate(calc(var(--test) * 1), calc(var(--test) * -2));}
  80% {transform: translate(calc(var(--test) * 2), calc(var(--test) * -2));}
  90% {transform: translate(calc(var(--test) * 0), calc(var(--test) * 0));}
}


.box4 {
  width:2rem;
  height:2rem;
  top: 110%;
  left: 25%;
  z-index:2;
  --test:100%;
  animation: box4 20s infinite;
}

@keyframes box4 {
  0% {transform: translate(calc(var(--test) * 0), calc(var(--test) * 0));}
  10% {transform: translate(calc(var(--test) * 0), calc(var(--test) * -3));}
  20% {transform: translate(calc(var(--test) * -2), calc(var(--test) * -3));}
  30% {transform: translate(calc(var(--test) * -2), calc(var(--test) * 0));}
  40% {transform: translate(calc(var(--test) * -2), calc(var(--test) * -1));}
  50% {transform: translate(calc(var(--test) * 2), calc(var(--test) * -1));}
  60% {transform: translate(calc(var(--test) * 2), calc(var(--test) * 2));}
  70% {transform: translate(calc(var(--test) * 4), calc(var(--test) * 2));}
  80% {transform: translate(calc(var(--test) * 2), calc(var(--test) * 0));}
  90% {transform: translate(calc(var(--test) * 0), calc(var(--test) * 0));}
}


.box5 {
  width: 6rem;
    height: 6rem;
    top: 10%;
    left: 85%;
    z-index: 0;
    animation: box5 10s infinite;
}

@keyframes box5 {
  0% {transform:scale(1);}
  30% {transform:scale(1.2);}
  50% {transform:scale(1.4);}
  770% {transform:scale(1);}
}


#likeButton{
  color:black;
  background-color: white;
}


.sidebar {
  grid-area: sidebar;
  background: #4e0e85;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery > img {
    padding: 5px 20px;
}


.ads {
  grid-area: ads;
  background: #720e85;
}
.ads > h {
  font-weight:1000;
  color:rgb(255, 255, 255);
}


#footer-main {
  grid-area: footer;
  background-color: #f8f8f8;
  border: solid 1px #333;
  padding: 60px;
}

.footer-grid {
  display: grid;
  grid-gap: 10px;
  margin: 0 auto;
  max-width: 100%;
}


#footer_1{
  grid-area: footer_1;
}
#footer_2{
  grid-area: footer_2;
}
#footer_3{
  grid-area: footer_3;
}
#footer_4{
  grid-area: footer_4;
}


