body {
    background-color:blanchedalmond;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display:grid;
    grid-template-columns: [start] auto [left] 80% [right] auto [end];
    grid-template-rows: [top] auto [header] auto  auto auto [footer] auto [bottom];
    
}


@media screen and (max-width:320px) {
  body {
  grid-template-areas: 
    "header header header"
    "main main main"
    "sidebar sidebar sidebar"
    "ads ads ads"
    "footer footer footer";
  }

  .login-form{
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 20%);
    grid-template-areas: 
    "form__name"
    "form__family"
    "form__email"
    "form__tel"
    "form__textarea";
    }


    .footer-grid {
      grid-template-columns:100%;
      grid-template-rows: repeat(4, 25%);
      grid-template-areas: 
      "footer_1" 
      "footer_2" 
      "footer_3"
      "footer_4";
  }
}


@media screen and (min-width:712px) {
  body {
  grid-template-areas: 
    "header header header"
    "ads main sidebar"
    "ads main sidebar"
    "ads main sidebar"
    "footer footer footer";
  }


  .login-form{
    grid-template-columns: 50% 50%;
    grid-template-rows: calc(100%/3) calc(100%/3) calc(100%/3);
    grid-template-areas: 
  "form__name form__family"
  "form__email form__tel"
  "form__textarea form__textarea";
  }

  
  .footer-grid {
    grid-template-columns: repeat(4, 25%);
    grid-auto-rows: auto;
    grid-template-areas: 
    "footer_1 footer_2 footer_3 footer_4";
  }
}


@media screen and (min-width:320px) and (max-width:712px) {
  body {
  grid-template-areas: 
    "header header header"
    "sidebar main main"
    "sidebar main main"
    "sidebar main main"
    "ads footer footer";
  }

  .login-form{
    grid-template-columns: 50% 50%;
    grid-template-rows: calc(100%/3) calc(100%/3) calc(100%/3);
    grid-template-areas: 
    "form__name form__family"
    "form__email form__tel"
    "form__textarea form__textarea";
    }


.footer-grid {
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  grid-template-areas: 
  "footer_1 footer_2"
  "footer_3 footer_4";
  }
}


.header {
    grid-area: header;
    width: 100%;
    height: 256;
    background: linear-gradient(90deg, rgb(208 15 246) 25%, rgb(251 104 104) 75%);
}


.header__inner {
    display:flex;
    justify-content: space-between;
    align-items:center;
}


.title  {
    font-size: 20px;
    font-weight: 700;
}

.nav__link {
    display:inline-block;
    vertical-align: top;

    color:blue;
    font-weight: 400;

}


.nav__link:visited {
    color:rgb(155, 119, 167);
}


.nav__link:hover {
    color:palevioletred;
}


.nav__link:active {
    color:goldenrod;
}
  
.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms;
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(45deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-45deg);
  }
  
  @media (max-width: 640px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 128px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms;
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms;
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
  }


main {
  grid-area: main;
    display:grid;
    background-color:rgb(70, 59, 61);
}

textarea {
  display: block;
  border: 1px solid #BBB;
  color: #444;
  font-size: 110%;
}

.anibtn {
  margin-top: 10px;
}

#brick {
  width: 40px;
  height: 20px;
  background: #EE6B47;
  position: relative;
  cursor: pointer;
}

#path {
  left: 50%;
  outline: 1px solid #E8C48E;
  width: 540px;
  height: 20px;
}

.container,
#contents {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    color: 
}

.container>div {
    background: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 20px;
    color: #d35454;
}

.gallery {
    position: relative;
}

.main_image {
    min-width: 600px;
    width: 800px;
    height: 400px;
}

.main_image img {
    width: 800px;
    height: 400px;
}

.images_list {
    z-index: 1000;
    margin-top: 5px;
    height: 100px;
    width: 800px;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
}

.images_list img {
    width: 200px;
    padding: 5px;
    object-fit: fill;
}

.images_list img+img {
    border-left: solid #d35454;
}

.prepare_image {
    z-index: 1;
    position: absolute;
    width: 800px;
    height: 400px;
}

#list {
    user-select: none;
    padding-left: 15px;
}

#list li {
    width: 50px;
    padding-left: 30px;
}

.selected {
    background: rgb(191, 79, 219);
}

.slider {
    display: block;
    width: 400px;
    height: 16px;
    background: #4a4646;
    border-radius: 20px;
    margin: 0 -5px;
    user-select: none;
    position: relative;
}

.slide {
    content: " ";
    height: 30px;
    width: 15px;
    background-color: #d35454;
    position: absolute;
    left: 0px;
    top: -7px;
    border-radius:30%;
}

.fifth {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.shop1 {
    padding: 10px;
    background: #2B2B2B;
    width: 200px;
    min-height: 200px;
    border-radius: 10px;
}

.kart {
    position: relative;
    padding: 20px;
    width: 200px;
    min-height: 100px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    height: fit-content;
    background: #2B2B2B;
    border-radius: 10px;
}

.item {
    cursor: grab;
    display: flex;
    flex-direction: column;
}

.item img {
    width: 100%;
    max-height: 300px;
    padding: 5px 0;
}

.item+.item,
.clone+.clone {
    border-top: solid white;
}

.item.clone {
    cursor: grabbing;
    background: #2B2B2B;
    width: 100px;
    height: 170px;
    padding: 10px;
    border-radius: 10px;
}

.item.clone img {
    cursor: grabbing;
    height: 100px;
}

.totalCost {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 10px;
    padding-top: 2px;
}

.kart:before {
    cursor: copy;
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
}

.clone {
    margin-top: 15px;
    padding: 2px;
}


.sidebar {
  grid-area: sidebar;
  background: #4e0e85;
}


.ads {
  grid-area: ads;
  background: #720e85;
}
.ads > h {
  font-weight:1000;
  color:rgb(255, 255, 255);
}


#footer-main {
  grid-area: footer;
  background-color: #f8f8f8;
  border: solid 1px #333;
  padding: 60px;
}

.footer-grid {
  display: grid;
  grid-gap: 10px;
  margin: 0 auto;
  max-width: 100%;
}


#footer_1{
  grid-area: footer_1;
}
#footer_2{
  grid-area: footer_2;
}
#footer_3{
  grid-area: footer_3;
}
#footer_4{
  grid-area: footer_4;
}


